$background:#f6f6f6;
$fontColor:#454750;
$maxWidth:1400px;

//estas son un par de variables para que se vea la utilizacion
// tambien podria haber utilizado module.scss pero me parece mas estructurado de esta manera
